<div class="container">
    <div class="starter-template">
        <h2 class="dashboard">
            Overdue Tasks
            <button class="btn btn-primary pull-right" ng-click="viewTasks()">Continue to tasks</button>
        </h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="priority">Priority</th>
                    <th class="taskname">Task Name</th>
                    <th class="duedate">Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 6</td>
                </tr>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 6</td>
                </tr>
                <tr>
                    <td class="priority">2</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 6</td>
                </tr>
            </tbody>
        </table>

        <h2 class="dashboard">Tasks Due Today</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="priority">Priority</th>
                    <th class="taskname">Task Name</th>
                    <th class="duedate">Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 9</td>
                </tr>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 9</td>
                </tr>
                <tr>
                    <td class="priority">2</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 9</td>
                </tr>
            </tbody>
        </table>

        <h2 class="dashboard">Tasks Due Tomorrow</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="priority">Priority</th>
                    <th class="taskname">Task Name</th>
                    <th class="duedate">Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 10</td>
                </tr>
                <tr>
                    <td class="priority">1</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 10</td>
                </tr>
                <tr>
                    <td class="priority">2</td>
                    <td class="taskname">Test Task Name</td>
                    <td class="duedate">May 10</td>
                </tr>
            </tbody>
        </table>

        <hr/>

        <div style="text-align: left;">
			        <pre>
			            Current scope variables:
                        
			        </pre>
        </div>

        <hr/>

        <footer>
            <div class="container">
                <p class="text-muted credit">
                    Copyright &copy; Daniel Stephenson 2014 &middot;
                </p>
            </div>
        </footer>
    </div>
</div>